<template>
  <div class="container center">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sed
      nobis earum magni tempore nam, autem, eligendi necessitatibus distinctio
      voluptas minus iure nostrum! Maiores perferendis nulla libero accusamus
      necessitatibus eos.
    </p>
    <button class="btn" @click="redirectToHome">Go To Home</button>
  </div>
</template>

<script>
export default {
  methods: {
    redirectToHome() {
      this.$router.push({ path: "/" });
    }
  }
};
</script>