<template>
  <div class="container center">
    <h1>Contact</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
      consequuntur quasi quibusdam, quaerat quas sit officia iusto et placeat
      corrupti explicabo blanditiis molestiae quos quod. Hic sint velit ullam
      omnis?
    </p>
  </div>
</template>
