<template>
  <div class="container center">
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique facere
      commodi ex a ut totam sunt amet odit mollitia temporibus, ea ipsam magnam.
      Rem harum autem, possimus incidunt fugit necessitatibus?
    </p>
  </div>
</template>
