<template>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">Router</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <router-link to="/" tag="li" active-class="active" exact>
            <a>Home</a>
          </router-link>
          <router-link to="/about" tag="li" active-class="active">
            <a>About</a>
          </router-link>
          <router-link to="/contact" tag="li" active-class="active">
            <a>Contact</a>
          </router-link>
          <router-link to="/user" tag="li" active-class="active">
            <a>User</a>
          </router-link>
        </ul>
      </div>
    </div>
  </nav>
</template>
