<template>
  <div class="container">
    <h2>User Details {{ id }}</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque id velit
      asperiores neque perferendis blanditiis commodi maiores, molestias
      distinctio omnis debitis maxime explicabo dolore magnam voluptatum fuga
      accusamus accusantium saepe.
    </p>
    <router-link tag="button" class="btn" :to="link">Edit</router-link>
  </div>
</template>

<script>
export default {
  computed: {
    id() {
      return this.$route.params.id;
    }
  },
  data() {
    return {
      link: {
        name: "UserEdit",
        params: { id: this.$route.params.id },
        query: { locale: "en", q: 100 },
        hash: "#data"
      }
    };
  },
  beforeRouteEnter(to, from, next) {
    console.log("Inside component");
    if (true) {
      next(vm => {
        console.log(vm.link);
      });
    } else {
      next({ name: "Home" });
    }
  }
};
</script>
