<template>
  <div class="container">
    <h1>User Edit {{ id }}</h1>
    <hr />
    <button class="btn" @click="confirmed = true;">Confirm</button>
    <p v-for="n in 20" :key="n">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum totam
      laboriosam, nostrum doloremque laudantium ab ducimus in voluptatem.
      Veritatis molestias sequi expedita illo enim culpa, aut commodi esse
      delectus similique.
    </p>
    <hr />
    <p>Locale: {{ locale }}</p>
    <p>Analitics: {{ q }}</p>
    <hr />
    <p id="data">More data here</p>
    <hr />
  </div>
</template>

<script>
export default {
  data() {
    return { confirmed: false };
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
    locale() {
      return this.$route.query.locale;
    },
    q() {
      return this.$route.query.q;
    }
  },
  beforeRouteLeave(to, from, next) {
    if (this.confirmed) {
      next();
    } else {
      if (confirm("Are you sure?")) {
        next();
      } else {
        next(false);
      }
    }
  }
};
</script>
