<template>
  <div class="container">
    <ul class="collection with-header">
      <li class="collection-header"><h4>User List</h4></li>
      <router-link to="/user/1" tag="li" class="collection-item">User 1</router-link>
      <router-link to="/user/2" tag="li" class="collection-item">User 2</router-link>
      <router-link to="/user/3" tag="li" class="collection-item">User 3</router-link>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
li.collection-item {
  cursor: pointer;
}
</style>

