<template>
  <div class="row">
    <ServerList :servers="servers" />
    <ServerDetails :server="details" />
  </div>
</template>

<script>
import ServerList from "./ServerList.vue";
import ServerDetails from "./ServerDetails.vue";
import { eventBus } from "../main.js";

export default {
  data() {
    return {
      servers: [
        { id: 1, status: "normal" },
        { id: 2, status: "critical" },
        { id: 3, status: "unknown" },
        { id: 4, status: "normal" }
      ],
      detailId: 1
    };
  },
  computed: {
    details() {
      return this.servers.find(server => {
        return this.detailId === server.id;
      });
    }
  },
  components: {
    ServerList,
    ServerDetails
  },
  created() {
    eventBus.$on("detailsChange", id => {
      this.detailId = id;
    });
    eventBus.$on("changeStatus", res => {
      this.servers = this.servers.map(server => {
        if (server.id === res.id) {
          server.status = res.status;
        }
        return server;
      });
    });
  }
};
</script>
