<template>
  <div class="col-xs-12 col-sm-6">
    <ul class="list-group">
      <li class="list-group-item" v-for="server in servers" :key="server.id">
        <ServerSummary :server="server" />
      </li>
    </ul>
  </div>
</template>

<script>
import ServerSummary from "./ServerSummary.vue";
export default {
  props: {
    servers: Array
  },
  components: {
    ServerSummary
  }
};
</script>

<style scoped>
</style>
