<template>
    <p @click="showDetails">Server #{{ server.id }}</p>
</template>

<script>
import { eventBus } from "../main";
export default {
  props: {
    server: Object
  },
  methods: {
    showDetails() {
      eventBus.$emit("detailsChange", this.server.id);
    }
  }
};
</script>

<style scoped>
p {
  cursor: pointer;
  transition: all 0.2s ease;
}

p:hover {
  background-color: lightgray;
}
</style>
