<template>
  <div class="col-xs-12 col-sm-6">
    <p>Server status {{ server.status }}</p>
    <hr />
    <input
      type="text"
      :value="curStat"
      @input="status = $event.target.value;"
    />
    <button @click="changeStatus">Change Status</button>
  </div>
</template>

<script>
import { eventBus } from "../main";
export default {
  props: {
    server: Object
  },
  data() {
    return {
      status: ""
    };
  },
  computed: {
    curStat() {
      return this.server.status;
    }
  },
  methods: {
    changeStatus() {
      eventBus.$emit("changeStatus", {
        status: this.status.trim().length > 0 ? this.status.trim() : "unknown",
        id: this.server.id
      });
    }
  }
};
</script>
