<template>
  <div id="app">
    <Navbar />
    <div class="container center">
      <transition name="slide" mode="out-in">
        <router-view />
      </transition>
    </div>
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";

export default {
  name: "app",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  },
  components: {
    Navbar
  }
};
</script>

<style>
/* stage 2. Entered */
.slide-enter-active {
  animation: slide-in 0.2s ease-in-out forwards;
}

/* stage 3. leave */
.slide-leave-active {
  animation: slide-out 0.2s ease-in-out forwards;
  position: absolute;
}

.slide-move {
  transition: transform 1s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(20%);
    opacity: 0;
  }
}
</style>
