#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.green {
  background-color: green;
  width: 100px;
  height: 100px;
}

.orange {
  background-color: orange;
  width: 100px;
  height: 100px;
}

.coral {
  background-color: coral;
  width: 100px;
  height: 100px;
}

.big {
  width: 200px;
  height: 200px;
}