<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Basics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>{{ counter }} | {{ secondCounter }}</p>
        <p>{{ result() }} | {{ output }}</p>
        <button v-on:click="counter++">Increment 1st</button>
        <button v-on:click="secondCounter++">Increment 2nd</button>

    </div>
    <script src="main.js"></script>
</body>

</html>