<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Exercise 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="exercise">
      <!--
        1) Fill the <p> below with your Name and Age - using Interpolation
      -->
      <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
      <!-- 2) Output your age, multiplied by 3 -->
      <p>{{ age * 3 }}</p>
      <!--
        3) Call a function to output a random float between 0 and 1 (Math.random())
      -->
      <p>{{ Math.random() * 100 }}</p>
      <!--
        4) Search any image on Google and output it here by binding the "src" attribute
      -->
      <div><img v-bind:src="src" style="height:100px" /></div>
      <!--
        5) Pre-Populate this input with your name (set the "value" attribute)
      -->
      <div>
        <input v-on:input="handleChange" v-bind:value="name" type="text" />
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
