<template>
  <div class="container center">
    <button @click="currentComponent = 'Counter'">Counter</button>
    <button @click="currentComponent = 'Quote'">Quote</button>
    <hr />
    <keep-alive>
      <!-- When dynamically changing :is the component is destroyed and recreated again when needed. keep-alive is used to avoid this-->
      <component :is="currentComponent">
        <span slot="title">Quote</span>
        <p slot="content">A wonderful quote</p>
      </component>
    </keep-alive>
  </div>
</template>

<script>
import Quote from "./components/Quote.vue";
import Counter from "./components/Counter.vue";

export default {
  data() {
    return {
      currentComponent: "Quote"
    };
  },
  components: {
    Quote,
    Counter
  }
};
</script>

<style scoped>
p {
  color: coral;
}
</style>
