<template>
  <div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
      <div class="center">
        <h1>Built in Directies</h1>
        <p v-text="'v-text: Print text'"></p>
        <p v-html="'<strong>v-html: Printing html</strong>'"></p>
      </div>
      <hr />
      <div class="center">
        <h1>Custom Directies Global</h1>
        <p v-highlight="'orange'">Simply usign v-highlight </p>
        <p v-highlight:background="'lightcoral'">Using v-highlight custom directive with background argument</p>
        <p v-highlight.bold="'purple'">Using v-highlight with bold modifier</p>
        <p v-highlight:background.delayed.bold="'aqua'">Using v-highlight with delayed modifier</p>
      </div>
      <hr />
      <div class="center">
        <h1>Custom Directies Local</h1>
        <p v-highlight-local.bold="'orange'">Simply using v-highlight-local </p>
        <p v-highlight-local:background.bold.blink.delay="{mainColor:'orange', secondaryColor:'pink', delay:'500'}"> Using blink modifier </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  directives: {
    "highlight-local": {
      bind(el, binding, vnode) {
        let delay = 0;

        if (binding.modifiers.delayed) {
          delay = 1000;
        }

        if (binding.modifiers.blink) {
          let mainColor = binding.value.mainColor;
          let blinkColor = binding.value.secondaryColor;
          let currentColor = mainColor;
          setTimeout(() => {
            setInterval(() => {
              currentColor =
                currentColor === mainColor ? blinkColor : mainColor;
              if (binding.arg === "background") {
                // el.style.backgroundColor = "green";
                el.style.backgroundColor = currentColor;
              } else {
                el.style.color = currentColor;
              }

              if (binding.modifiers.bold) {
                el.style.fontWeight = "bold";
              }
            }, binding.value.delay);
          }, delay);
        } else {
          setTimeout(() => {
            if (binding.arg === "background") {
              // el.style.backgroundColor = "green";
              el.style.backgroundColor = binding.value;
            } else {
              el.style.color = binding.value;
            }

            if (binding.modifiers.bold) {
              el.style.fontWeight = "bold";
            }
          }, delay);
        }
      }
    }
  }
};
</script>

<style>
</style>
