<template>
  <div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
      <div class="center">
        <h1>Filters</h1>
        <p>{{ text | toUpperCase }}</p>
        <p>{{ chaining | toUpperCase | reverse }}</p>
        <div class="input-field">
          <input type="text" id="filter" v-model="filterFruit">
          <label for="filter">Filter</label>
          <button @click="fruits.push('Peach')">Add</button>
        </div>
        <ul>
          <li v-for="fruit in filteredFruits" :key="fruit">{{ fruit }}</li>
        </ul>
        <List />
      </div>
    </div>
  </div>
</template>

<script>
import List from "./List.vue";
import { fruitMixin } from "./fruitMixin";

export default {
  mixins: [fruitMixin],
  components: {
    List
  },
  data() {
    return {
      text: "Local filter",
      chaining: "sretlif gniniahc"
    };
  },
  filters: {
    toUpperCase(value) {
      return value.toUpperCase();
    }
  }
};
</script>

<style>
</style>
