<template>
    <div class="center">
    <h1>Mixins</h1>
    <div class="input-field">
        <input type="text" id="filter" v-model="filterFruit">
        <label for="filter">Filter</label>
    </div>
    <ul>
        <li v-for="fruit in filteredFruits" :key="fruit">{{ fruit }}</li>
    </ul>
    </div>
</template>

<script>
import { fruitMixin } from "./fruitMixin";
export default {
  mixins: [fruitMixin],
  created() {
    console.log("Inside List");
  }
};
</script>

<style>
</style>
