<template>
    <div>
        <slot></slot>
    </div>
</template>

<script>
</script>

<style scoped>
div {
  border: 1px solid red;
  background-color: lightcoral;
  padding: 30px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  font-size: 55px;
}
</style>