<template>
  <div class="container">
    <ServerStatus v-for="n in 5" :key="n"></ServerStatus>
  </div>
</template>

<script>
import ServerStatus from "./ServerStatus.vue";
export default {
  components: {
    ServerStatus
  }
};
</script>
