<template>
    <div class="container">
        <p>Server status: {{ status }} </p>
        <hr />
        <button @click="changeStatus">Change status</button>
    </div>   
</template>

<script>
export default {
  data() {
    return {
      status: "critical"
    };
  },
  methods: {
    changeStatus() {
      this.status = this.status === "normal" ? "critical" : "normal";
    }
  }
};
</script>