<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width:health.player+'%'}">
                        {{ Math.round(health.player) }}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width:health.monster+'%'}">
                        {{ Math.round(health.monster) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!started">
            <div class="small-12 columns">
                <button id="start-game" @click="startGame">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="special">SPECIAL ATTACK</button>
                <button id="heal" @click="heal">HEAL</button>
                <button id="give-up" @click="reset">GIVE UP</button>
            </div>
        </section>
        <section class="row log" v-if="started && log.length > 0">
            <div class="small-12 columns">
                <ul>
                    <li v-for="attack in log" class="log-li" :class="attack.by">
                        <template v-if=" attack.by === 'player' ">
                            {{ attack.by }} {{ attack.type + 'ed' }}: {{ Math.round(attack.value) }}
                        </template>

                        <template v-if=" attack.by === 'monster' ">
                            {{ attack.by }} {{ attack.type + 'ed' }}: {{ Math.round(attack.value) }}
                        </template>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <script src="main.js"></script>
</body>

</html>