<template>
  <div class="card">
    <p>{{ counter }}</p>
    <hr />
    <button @click="counter++;">Increase</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      counter: 0
    };
  },
  // Life cycle hooks for dynamic components
  deactivated() {
    console.log("deactivated");
  },
  activated() {
    console.log("activated");
  }
};
</script>
