<template>
  <div class="card">
    <div class="card-content">
      <span class="card-title"> <slot name="title">Default Title</slot> </span>
      <slot name="content" />
    </div>
  </div>
</template>
