<template>
    <div class="container">
        <Header />
        <hr>
        <Body />
        <hr>
        <Footer />
    </div>
</template>

<script>
import Header from "./components/Header.vue";
import Body from "./components/Body.vue";
import Footer from "./components/Footer.vue";

export default {
  components: {
    Header,
    Body,
    Footer
  }
};
</script>

<style>
</style>
