<template>
    <div>
        <div
                id="on"
                @click="switched(true)"
                :class="{active: isOn}">On</div>
        <div
                id="off"
                @click="switched(false)"
                :class="{active: !isOn}">Off</div>
    </div>
</template>

<script>
export default {
  props: ["value"],
  methods: {
    switched(val) {
      this.$emit("input", val);
    }
  },
  computed: {
    isOn() {
      return this.value;
    }
  }
};
</script>

<style scoped>
#on,
#off {
  width: 40px;
  height: 20px;
  background-color: lightgray;
  padding: 2px;
  display: inline-block;
  margin: 10px -2px;
  box-sizing: content-box;
  cursor: pointer;
  text-align: center;
}

#on:hover,
#on.active {
  background-color: lightgreen;
}

#off:hover,
#off.active {
  background-color: lightcoral;
}
</style>