<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Life Cycle hooks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }}({{ i }})</li>
        </ul>
        <button @click="ingredients.push('spice')">Add Spice</button>
        <button @click="$destroy()">Destroy</button>
        <hr />
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
        <hr />
        <ul>
            <li v-for="(person, index) in persons" :key="person.id">
                <h1>{{ index }}</h1>
                <p v-for="(value, key, index) in person">({{ index }}){{ key }} : {{ value }}</p>
            </li>
        </ul>
        <hr />
        <span v-for="n in 10">{{ n }}</span>
    </div>
    <script src="main.js"></script>
</body>

</html>