<template>
  <div>
    <h1>Another Counter</h1>
    <hr />
    <h2>Syncronous</h2>
    <button class="btn btn-primary" @click="increment(100)">Increment</button>
    <button class="btn btn-primary" @click="decrement(50)">Decrement</button>
    <hr />
    <h2>Async</h2>
    <button class="btn btn-primary" @click="asyncIncrement">Increment</button>
    <button class="btn btn-primary" @click="asyncDecrement">Decrement</button>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions({
      increment: "increment",
      asyncIncrement: "asyncIncrement",
      decrement: "decrement",
      asyncDecrement: "asyncDecrement"
    })
  }
};
</script>
