<template>
  <div class="container">
    <p>Counter is: {{ counter }}</p>
    <p>Number of clicks: {{ clicks }}</p>
    <p>{{ someProp }}</p>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      counter: "doubleCounter",
      clicks: "stringCounter"
    }),
    someProp() {
      return "Some property";
    }
  }
};
</script>
