<template>
  <div class="row">
    <div class="col s12 m10 l8 offset-m1 offset-l2">
      <div class="center">
        <h1>Animations</h1>
        <hr />
      </div>
      <button class="btn" @click="show = !show">Show</button>
      <!-- For animation. can bind name dynamically as well -->
      <transition name="fade" appear>
        <div class="card" v-if="show">
          <div class="card-content">
            <p>This is showing fade animation</p>
          </div>
        </div>
      </transition>

      <!-- type="animation" dictates how long to show the animation. here animation time is set as the transition time  -->
      <transition name="slide" type="animation">
        <div class="card" v-show="show">
          <div class="card-content">
            <p>This is showing slide animation</p>
          </div>
        </div>
      </transition>

      <!-- appear property is to set the initial animation when user lands on the page -->
      <transition name="slide" appear>
        <div class="card" v-show="!show">
          <div class="card-content">
            <p>This is showing slide which also animates when page is loaded</p>
          </div>
        </div>
      </transition>

      <transition enter-active-class="animated lightSpeedIn" leave-active-class="animated lightSpeedOut" appear>
        <div class="card" v-show="!show">
          <div class="card-content">
            <p>This is showing slide animation</p>
          </div>
        </div>
      </transition>

      <!-- Mode out-in is for saying if one element from inside transition is already inside this, to animate it out 
      first and then to animate in the other element. also key needs to be set for this to work -->
      <transition name="fade" appear mode="out-in">
        <div class="card blue" v-if="show" key="1">
          <div class="card-content">
            <p>This is an info</p>
          </div>
        </div>
        <div class="card red" v-if="!show" key="warn">
          <div class="card-content">
            <p>This is showing slide which also animates when page is loaded</p>
          </div>
        </div>
      </transition>

      <hr />
      <button @click="load = !load" class="btn">Load</button>
      <transition @before-enter="beforeEnter"
                  @enter="enter"
                  @after-enter="afterEnter" 
                  @enter-cancelled="enterCancelled"
           
                  @before-leave="beforeLeave"
                  @leave="leave"
                  @after-leave="afterLeave" 
                  @leave-cancelled="leaveCancelled"
                  :css="false">
        <div :style = "{backgroundColor: 'lightgreen', height:100+'px', width:100+'px'}" v-if="load"></div>
      </transition>

      <hr />
      <button class = "btn" @click="current = current === 'Success' ? 'Danger' : 'Success' ">Switch</button>
      <transition mode="out-in" name="slide">
        <component :is="current" />
      </transition>
      <hr />
      <ul class="collection with-header">
        <li class="collection-header"><h3>List Animation <button class="btn" @click="addItem">Add item</button> </h3></li>
        <transition-group name="slide">
          <li class="collection-item" v-for="(n,index) in numbers" :key="n">{{ n }} <button class="btn" @click="removeItem(index)">Remove item</button> </li>
        </transition-group>
      </ul>
      
    </div>
  </div>
</template>

<script>
import Success from "./Success.vue";
import Danger from "./Danger.vue";

export default {
  data() {
    return {
      show: false,
      load: false,
      current: "Success",
      numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    };
  },
  methods: {
    beforeEnter(el) {
      console.log("before enter");
    },
    enter(el, done) {
      console.log("enter");
      done();
    },
    afterEnter(el) {
      console.log("after enter");
    },
    enterCancelled(el) {
      console.log("enter cancelled");
    },
    beforeLeave(el) {
      console.log("before leave");
    },
    leave(el, done) {
      console.log("leave");
      done();
    },
    afterLeave(el) {
      console.log("after leave");
    },
    leaveCancelled(el) {
      console.log("leave cancelled");
    },
    addItem() {
      const pos = Math.floor(Math.random() * this.numbers.length);
      this.numbers.splice(pos, 0, this.numbers.length + 1);
    },
    removeItem(index) {
      this.numbers.splice(index, 1);
    }
  },
  components: {
    Success,
    Danger
  }
};
</script>
  
<style>
.btn {
  margin: 2%;
}

/* stage 1. Before entering */
.fade-enter {
  opacity: 0;
}

/* stage 2. Entered */
.fade-enter-active {
  transition: opacity 1s ease;
}

/* stage 3. before leaving */
.fade-leave {
  /* opacity: 1; */
}

/* stage 3. leave */
.fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease;
}

/* stage 1. Before entering */
.slide-enter {
}

/* stage 2. Entered */
.slide-enter-active {
  animation: slide-in 0.2s ease-in-out forwards;
}

/* stage 3. before leaving */
.slide-leave {
  /* opacity: 1; */
}

/* stage 3. leave */
.slide-leave-active {
  animation: slide-out 0.2s ease-in-out forwards;
  position: absolute;
}

.slide-move {
  transition: transform 1s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(20%);
    opacity: 0;
  }
}
</style>
