<template>
    <div class="component">
        <h3>You may view the User Details here</h3>
        <p>Many Details</p>
        <p>User name: {{ name }}</p>
        <p>Switch Name: {{ switchName }}</p>
        <p>Age: {{ age }}</p>
        <button @click="resetName" >Reset Name</button>
        <button @click="resetNameCB">Reset Name with another method</button>
    </div>
</template>

<script>
export default {
  // Properties which should be settable from outside
  // props: ["name"],
  // props: {
  //   name: [String, Array]
  // },
  props: {
    name: {
      type: String,
      required: true
      // default: "Boom"
    },
    resetNameCB: Function,
    age: Number
  },
  computed: {
    switchName() {
      // Can use name prop
      return this.name
        .split("")
        .reverse()
        .join("");
    }
  },
  methods: {
    resetName() {
      this.$emit("nameReset", "Tirthamouli");
    }
  }
};
</script>

<style scoped>
div {
  background-color: lightcoral;
}
</style>
