<template>
    <div class="component">
        <h3>You may edit the User here</h3>
        <p>Edit me!</p>
        <button @click="resetAge">Reset Age with event</button>
        <button @click="resetAgeCB">Reset Age with callback</button>
        <button @click="resetAgeEB">Reset Age with Event bus</button>
        <button @click="resetAgeEB2">Another method with event bus</button>
    </div>
</template>

<script>
import { eventBus } from "../main.js";

export default {
  props: {
    resetAgeCB: Function
  },
  methods: {
    resetAge() {
      this.$emit("resetAge", 22);
    },
    resetAgeEB() {
      eventBus.$emit("resetAge", 23);
    },
    resetAgeEB2() {
      eventBus.resetAge(24);
    }
  }
};
</script>

<style scoped>
div {
  background-color: lightgreen;
}
</style>
