<template>
    <div class="component">
        <h1>The User Component</h1>
        <p>I'm an awesome User!</p>
        <input type="text" v-model="name" />
        <input type="number" v-model="age" />
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <app-user-detail :name="name" @nameReset="name = $event" :resetNameCB="resetName" :age="parseInt(age)"></app-user-detail>
            </div>
            <div class="col-xs-12 col-sm-6">
                <app-user-edit @resetAge="age = $event" :resetAgeCB="resetAge"></app-user-edit>
            </div>
        </div>
    </div>
</template>

<script>
import UserDetail from "./UserDetail.vue";
import UserEdit from "./UserEdit.vue";
import { eventBus } from "../main";

export default {
  data() {
    return {
      name: "Tirthamouli",
      age: 22
    };
  },
  components: {
    appUserDetail: UserDetail,
    appUserEdit: UserEdit
  },
  methods: {
    resetName() {
      this.name = "Tirthamouli";
    },
    resetAge() {
      this.age = 22;
    }
  },
  created() {
    eventBus.$on("resetAge", age => {
      this.age = age;
    });
  }
};
</script>

<style scoped>
div {
  background-color: lightblue;
}
</style>
