<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Condition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="show%2 === 0">Now you see me? <span>YAY!</span> </p>
        <p v-else-if="show%3 === 0">Now you see again? <span>OU YAY!</span> </p>
        <p v-else>Now you don't</p>
        <template v-if="show%2 === 0">
            <h1>Boom</h1>
            <p>Hello</p>
        </template>
        <p v-show="show%2 === 0">Show/hide</p>
        <button @click="show++">Switch</button>
    </div>
    <script src="main.js"></script>
</body>

</html>