<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Basics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1 v-once>{{ title }}</h1>
        <p>{{ sayHello() }}
            -<a v-bind:href="link">Google</a>
        </p>
        <hr />
        <h1>Rendering html to the template</h1>
        <p v-html="finishedLink"></p>
        <hr />
        <h1>Count</h1>
        <button v-on:click="counter++">Click Me</button>
        <p>{{ counter > 10 ? "greater than 10" : "smaller than 10" }}</p>
        <hr />
        <h1>Event</h1>
        <p v-on:mousemove="updateCoordinate">
            V1. Coordinates: {{ x }}/{{ y }}
            -<span v-on:mousemove="stopP">DEAD SPOT</span>
        </p>
        <hr />
        <h1>Event Modifier</h1>
        <p v-on:mousemove="updateCoordinate">
            V2. Coordinates: {{ x }}/{{ y }}
            -<span v-on:mousemove.stop.prevent="">DEAD SPOT</span>
        </p>
        <hr />
        <h1>Key event modifier</h1>
        <input v-on:keydown.space.enter="alertMe" type="text">
        <hr />
        <h1>Two way data binding</h1>
        <input type="text" v-model="name">
        <p>{{ name }}</p>

    </div>
    <script src="main.js"></script>
</body>

</html>