<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Basics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
    <div id="app1">
        <h1>Instance One</h1>
        <input type="text" v-on:input="changeTitle">
        <p>{{ title }}</p>
    </div>
    <div id="app2">
        <h1>Instance 2</h1>
        <p>{{ title }}</p>
    </div>
    <script src="main.js"></script>
</body>

</html>